<app-dashboard-head></app-dashboard-head>
<!-- Hero Section -->
<div class="container space-top-1">
    <div class="bg-primary rounded-lg"
        style="background: url(../assets/svg/illustrations/book.svg) right bottom no-repeat;">
        <div class="w-lg-50">
            <div class="py-8 px-6">
                <h1 class="display-4 text-white">Course catalog</h1>
                <p class="text-white mb-0">Enclave Courses includes over <span class="font-weight-bold">20,000</span>
                    courses.</p>
            </div>
        </div>
    </div>
</div>
<!-- End Hero Section -->
<div class="container space-2 space-bottom-lg-3">
    <div class="row">
        <div class="col-lg-3 mb-5 mb-lg-0">
            <app-side-listing></app-side-listing>
        </div>
        <div class="col-lg-9">
            <app-course-listing></app-course-listing>
        </div>
    </div>
</div>
<app-footer></app-footer>